body{
    background: rgba(0,0,0,0.1)url("images/tobias-greitzke-uAPf0EHAeeE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
h1{
    margin: auto;
    text-align: center;
    font-family:cursive;
    font-size: xxx-large;
    -webkit-text-fill-color: #33523b;
}
.navbar ul{
    display: flex;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    justify-content: space-between;
     box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.9);
}
.navbar li{
    width: 32.3%;
    list-style: none;
    display: inline-block;
}
.navbar a{
    font-weight: bold;
    font-size: xx-large;
    color: rgb(40, 8, 8);
    text-decoration: none;
}
.navbar :hover{
    transition: 0.5s;
    color:rgb(233, 206, 196);
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
}
img{
    
    width: 8rem;
    height: 8rem;
    padding: 10px;
    border-radius: 100px;
    animation-duration: 3s;
    animation-name: flashing;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.imagebox :hover{
 cursor: pointer;
 transition: 1234ms;
 transform: scale(2.5);
}
p{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}
#frontimage{
    width: 11rem;
    margin: auto;
    height: 11rem;
    display: flex;
    border-radius: 150px;
    animation: flash linear 1s infinite;
}
#frontimage:hover{
    cursor: pointer;
}
#foota{
    margin-top: 50px;
}
a{
    font-size: 26.5px;
    color: rgb(43, 158, 224);
}
a:hover{
    color:rgb(214, 200, 200);
    transition: 0.7s;
}
@keyframes flashing{
20% {
    opacity: 1.0;
}
40%{
    opacity: 0.7;
}
60%{
    opacity: 0.4;
}
80%{
    opacity: 0.7;
}
100%{
    opacity: 1.0;
}
}